body {
  margin: 5;
  padding: 10;
  font-family: 
    sans-serif;
  background-color: pink;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.VideoGameCard {
  padding-bottom: 100px;
  border-style: double;
  border-width: thick;
  margin: 55px;
  border-color: #969696;
}

.link {
  color: blue;
}

.btn {
  background-color: green;
  color: blue;
  border: solid;
}

.home-image {
  max-width: 63%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}