body {
  margin: 2;
  padding: 5;
  font-family: 
    sans-serif;
  background-color: pink;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.VideoGameCard {
  padding-bottom: 50px;
  border-style: solid;
  border-width: thick;
  margin: 20px;
  border-color: #969696;
}

.link {
  color: blue;
}

.btn {
  background-color: green;
  color: white;
  border: none;
}

.home-image {
  max-width: 70%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
